/target
/read_bench/target
/v3/target
/v3/diff-derive/target
/ftable/target
/btree/target
/parse_num/target
/fuseable/target
/fuseable_derive/target
**/*.rs.bk
\#*\#
*.ldat
*.xsdat
perf.data
perf.data.old
flame.svg
flamegraph.svg
main
main.cpp
old_stuff
.propfs
.cargo
t
*.debug
*.out
crash-rr.tar.gz
